{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div style="width:500px">
	{{ wtf.quick_form(form) }}
    </div>
</div>
{% endblock %}
