{% extends "base.html" %}
{% block title %}Flasky{% endblock %}
{% block scripts %}
{{ super() }}
<!-- my scripts here -->
<script src="{{ url_for('static',filename='sample/dist/aws-cognito-sdk.js') }}"></script>
<script src="{{ url_for('static',filename='sample/dist/amazon-cognito-auth.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
 var auth;
 $(document).ready(function(){
     auth = initCognitoSDK();
     var curUrl = window.location.href;
     auth.parseCognitoWebResponse(curUrl);
 })

 // Initialize a cognito auth object.
 function initCognitoSDK() {
     var callback_signin_url = '{{ config['AWS_COGNITO_SIGNIN_URL'] }}'
     var callback_signout_url = '{{ config['AWS_COGNITO_SIGNOUT_URL'] }}'
     var authData = {
	 /*
	    ClientId : '<TODO: your app client ID here>', // Your client id here
	    AppWebDomain : '<TODO: your app web domain here>',
	    TokenScopesArray : '<TODO: your scope array here>',
	    RedirectUriSignIn : '<TODO: your redirect url when signed in here>',
	    RedirectUriSignOut : '<TODO: your redirect url when signed out here>'
	  */
	 ClientId : '{{ config['AWS_COGNITO_CLIENT'] }}', // Your client id here
	 AppWebDomain : '{{ config['AWS_COGNITO_APP_WEB_DOMAIN'] }}',
	 TokenScopesArray : [],
	 RedirectUriSignIn : callback_signin_url,
	 RedirectUriSignOut : callback_signout_url
     };
     var auth = new AWSCognito.CognitoIdentityServiceProvider.CognitoAuth(authData);
     auth.userhandler = {
	 /*
	    onSuccess: <TODO: your onSuccess callback here>,
	    onFailure: <TODO: your onFailure callback here>
	  */
	 onSuccess: function(result) {
	     alert('success!')
	     var idToken = result.getIdToken().getJwtToken();
	     var accToken = result.getAccessToken().getJwtToken();
	     $.cookie('id_token', idToken, {path:'/'})
	     $.cookie('access_token', accToken, {path:'/'})
	     //alert("Sign in success"+accToken);
	     //window.open(callback_signin_url3+'?id_token='+idToken+'&access_token='+accToken,"_self")
	     /*
		//works using low-level call
		$.ajax({ url: callback_signin_url3,
		headers: { 'Authorization': 'Bearer '+idToken },
		error: function(err) { alert('error'); },
		success: function(data) {
		$("#messages").text("Success")
		}});
	      */
	     htmlstr = '<b> Signin Success </b><br/>';
	     if (idToken) {
		 var payload = idToken.split('.')[1];
		 var payload_obj = JSON.parse(atob(payload))
		 if (payload_obj.email)
		     htmlstr += '<b>Welcome '+payload_obj.email+'</b><br/>\n'
		 var formatted = JSON.stringify(atob(payload), null, 4);
		 htmlstr += 'idToken:<textarea rows=5 cols=100>'+formatted+'</textarea>';
	     }
	     if (accToken) {
		 var payload = accToken.split('.')[1];
		 var formatted = JSON.stringify(atob(payload), null, 4);
		 htmlstr += '<br/>\naccessToken:<textarea rows=5 cols=100>'+formatted+'</textarea>';
	     }
	     $("#signInMessage").html(htmlstr);
	 },
	 onFailure: function(err) {
	     alert("Error!" + err);
	 }};

     // The default response_type is "token", uncomment the next line will make it be "code".
     // auth.useCodeGrantFlow();
     return auth;
 }

 function getSession() {
     var curUrl = window.location.href;
     auth.parseCognitoWebResponse(curUrl);
     auth.getSession();
     return auth;
 }

 function signInButton_Click() {
     getSession()
 }

 function signOutButton_Click() {
     auth.signOut();
     message = $(event.target).parent().find('#message');
     message.text('You are now signed out.')
 }

 function getMessage() {
     return $(event.target).parent().find('#message');
 }

 function showTokens_Click(event) {
     message = getMessage();
     message.html('<p><b>id_token</b>:<textarea rows=5 cols=100>' + $.cookie('id_token') + '</textarea></p>'+
		  '<p><b>access_token</b>:<textarea rows=5 cols=100>' + $.cookie('access_token') + '</textarea></p>' +
		  '<p><b>auth_token</b>:<textarea rows=5 cols=100>'+$.cookie('id_token')+':'+$.cookie('access_token')+'</textarea></p>')
 }

 function showTestToken1_Click(event) {
     message = getMessage();
     $.ajaxSetup({
	 headers : {   
	     'Authorization' : 'Bearer ' + $.cookie('id_token')+':'+$.cookie('access_token')
	     //'Authorization' : $.cookie('id_token')
	 }
     });     
     message.load("{{ url_for('auth.test_token1') }}")
 }

 function showNotes_Click(event) {
     message = getMessage();
     $.ajaxSetup({
	 headers : {   
	     'Authorization' : 'Bearer ' + $.cookie('id_token')+':'+$.cookie('access_token')
	 }
     });     
     message.load("{{ url_for('api.notes_database_resource') }}")
 }
	  
</script>
{% endblock %}
{% block styles %}
{{ super() }}
<!-- my styles here -->
<style>
 .selected { color:red; }
 .highlight { background:yellow; }
</style>
{% endblock %}
{% block page_content %}

<ol>
  <li> <a id="signInButton" href="javascript:void(0)" onclick="signInButton_Click()"> Sign In </a>
    <div>The first step is to signin OR create a new user signin. You
      are able to login with a Federated Google Login or create a new
      user account inthe Cognito User Pool.  After logging in, the
      claims in the token should be displayed.</div>
	<div id="signInMessage" ></div>
    </li>
  <li> <a id="showTokens" href="javascript:void(0)" onclick="showTokens_Click(event)"> Show Tokens in Cookie</a>
    <div>
      After a successful login against Cognito, we have an id_token and an access_token.
      </div>
	<div id="message"></div>
    </li>
  <li> <a id="showTestToken1" href="javascript:void(0)" onclick="showTestToken1_Click(event)"> call test_token1 </a>
    <div>
      This call tests the authentication on the server API. The server
      deciphers the auth tokens and displays the claims associated
      with the tokens.
      </div>
	<div id="message"></div>
    </li>
  <li> <a id="Notes Database" href="javascript:void(0)" onclick="showNotes_Click(event)"> call Notes Database </a>
    <div>
      The Notes Database is a sample of data saved in DynamoDB on a per-user basis. Must be logged in.
      </div>
	<div id="message"></div>
    </li>
  <li> <a id="signOutButton" href="javascript:void(0)" onclick="signOutButton_Click(event)"> Sign Out </a>
	<div id="message"></div>
    </li>
  <li> <a href="/api/v1/"> Swagger-UI </a>
    </li>
  <li> <a href="/api/v1/swagger.json"> Swagger-UI JSON </a> 
  </li>
  <li> <a href="/api/v1/#!/users/get_database_resource"> User Database Testing </a>
    <div>
      A sample notes Dynamo Database for each user.
      </div>
  </li>
</ol>

{% endblock %}

